In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [2]:
df_train = pd.read_csv("../../Data/Dado_processado/burnout_preprocessado.csv")
df_train

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,Workload_Index
0,0,1,0,2.0,3.0,3.8,0.16,0.6
1,1,1,1,1.0,2.0,5.0,0.36,0.2
2,1,1,1,1.0,1.0,2.6,0.20,0.1
3,0,1,0,3.0,7.0,6.9,0.52,2.1
4,1,0,1,2.0,4.0,3.6,0.29,0.8
...,...,...,...,...,...,...,...,...
18585,0,0,1,1.0,3.0,6.0,0.48,0.3
18586,1,0,0,3.0,7.0,6.2,0.54,2.1
18587,0,0,1,3.0,6.0,6.7,0.59,1.8
18588,0,1,0,2.0,5.0,5.9,0.52,1.0
18589,1,0,0,3.0,6.0,7.8,0.61,1.8

In [3]:
X = df_train.drop(['Burn Rate'], axis=1)
y = df_train['Burn Rate']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [4]:
# random forest
from sklearn.ensemble import RandomForestRegressor

rand_forest = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)

rand_forest.fit(X_train, y_train)

prev_randf = rand_forest.predict(X_test)

print(f"R² Score : {r2_score(y_test, prev_randf)*100:.2f}")
print(f"Erro Médio Absoluto (MAE): {mean_absolute_error(y_test, prev_randf):.4f}")
print(f"RMSE (Raiz do Erro Quadrático Médio): {np.sqrt(mean_squared_error(y_test,prev_randf)):.4f}")

R² Score : 92.15
Erro Médio Absoluto (MAE): 0.0454
RMSE (Raiz do Erro Quadrático Médio): 0.0551

### Pequeno teste com 10 amostras para testar o desempenho do modelo

In [5]:
amostra = df_train.sample(10, random_state=42).copy()
print("Dados Originais (Amostra)")
display(amostra)

Dados Originais (Amostra)

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,Workload_Index
7203,1,1,1,1.0,2.0,3.9,0.18,0.2
8896,1,1,1,2.0,4.0,5.2,0.29,0.8
13078,1,1,0,3.0,4.0,4.6,0.36,1.2
1427,0,1,1,2.0,4.0,6.8,0.48,0.8
4510,1,1,1,4.0,9.0,7.8,0.79,3.6
13505,0,1,0,2.0,5.0,7.0,0.63,1.0
11295,1,0,1,2.0,4.0,6.5,0.48,0.8
6872,0,1,0,2.0,3.0,5.9,0.38,0.6
8203,0,0,0,2.0,5.0,7.7,0.68,1.0
17781,1,1,1,2.0,4.0,6.9,0.47,0.8

In [6]:
amostra = amostra.drop(columns=['Burn Rate'])

In [7]:
prevs = rand_forest.predict(amostra)

In [8]:
def classificacao(risco):

  if risco > 0.66:
    risco_burnout = "Alto"
  elif risco > 0.33 and risco <= 0.66:
    risco_burnout = "Médio"
  else:
    risco_burnout = "Baixo"

  return risco_burnout

for i in range(len(prevs)):
  print(f"Risco de Burnout do indíviduo {i}: {classificacao(prevs[i])}")

Risco de Burnout do indíviduo 0: Baixo
Risco de Burnout do indíviduo 1: Médio
Risco de Burnout do indíviduo 2: Médio
Risco de Burnout do indíviduo 3: Médio
Risco de Burnout do indíviduo 4: Alto
Risco de Burnout do indíviduo 5: Médio
Risco de Burnout do indíviduo 6: Médio
Risco de Burnout do indíviduo 7: Médio
Risco de Burnout do indíviduo 8: Médio
Risco de Burnout do indíviduo 9: Médio