In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [9]:
df_train = pd.read_csv("../../Data/Dado_processado/burnout_preprocessado.csv")
df_train

       Gender  Company Type  ...  Burn Rate  Workload_Index
0           0             1  ...       0.16             0.6
1           1             1  ...       0.36             0.2
2           1             1  ...       0.20             0.1
3           0             1  ...       0.52             2.1
4           1             0  ...       0.29             0.8
...       ...           ...  ...        ...             ...
18585       0             0  ...       0.48             0.3
18586       1             0  ...       0.54             2.1
18587       0             0  ...       0.59             1.8
18588       0             1  ...       0.52             1.0
18589       1             0  ...       0.61             1.8

[18590 rows x 8 columns]

In [10]:
X = df_train.drop(['Burn Rate'], axis=1)
y = df_train['Burn Rate']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Modelos

Testamos os modelos de Regressão Linear, Árvore de regressão, Random Forest, Xgboost, SVR(support vetor machine) e KNN(KNeighborsRegressor)

In [11]:
lin_regres = LinearRegression()
lin_regres.fit(X_train, y_train)
y_pred = lin_regres.predict(X_test)

In [12]:
# LinearRegression
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"R² Score: {r2:.4f}")
print(f"MAE (Erro Médio Absoluto): {mae:.4f}")
print(f"RMSE (Raiz do Erro Quadrático Médio): {rmse:.4f}")

R² Score: 0.9229
MAE (Erro Médio Absoluto): 0.0450
RMSE (Raiz do Erro Quadrático Médio): 0.0546

### Pequeno teste com 10 amostras para testar o desempenho do modelo

In [13]:
amostra = df_train.sample(10, random_state=42).copy()
print("Dados Originais (Amostra)")
display(amostra)

Dados Originais (Amostra)

       Gender  Company Type  ...  Burn Rate  Workload_Index
7203        1             1  ...       0.18             0.2
8896        1             1  ...       0.29             0.8
13078       1             1  ...       0.36             1.2
1427        0             1  ...       0.48             0.8
4510        1             1  ...       0.79             3.6
13505       0             1  ...       0.63             1.0
11295       1             0  ...       0.48             0.8
6872        0             1  ...       0.38             0.6
8203        0             0  ...       0.68             1.0
17781       1             1  ...       0.47             0.8

[10 rows x 8 columns]

In [14]:
amostra = amostra.drop(columns=['Burn Rate'])

In [30]:
prevs = lin_regres.predict(amostra)

In [31]:
def classificacao(risco):

  if risco > 0.66:
    risco_burnout = "Alto"
  elif risco > 0.33 and risco <= 0.66:
    risco_burnout = "Médio"
  else:
    risco_burnout = "Baixo"

  return risco_burnout

for i in range(len(prevs)):
  print(f"Risco de Burnout do indíviduo {i}: {classificacao(prevs[i])}")

Risco de Burnout do indíviduo 0: Baixo
Risco de Burnout do indíviduo 1: Médio
Risco de Burnout do indíviduo 2: Médio
Risco de Burnout do indíviduo 3: Médio
Risco de Burnout do indíviduo 4: Alto
Risco de Burnout do indíviduo 5: Médio
Risco de Burnout do indíviduo 6: Médio
Risco de Burnout do indíviduo 7: Médio
Risco de Burnout do indíviduo 8: Médio
Risco de Burnout do indíviduo 9: Médio